/* Guest Layout Styles */
.guest-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #EDF2FB;
}


.guest-main-container {
    flex: 1; /* This makes it take up all available space after the header */
    display: flex;
    justify-content: center; /* This will center the content vertically */
    align-items: center;     /* This will center the content horizontally */
}
